node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

logs
*.log
*.out
*.err

dist/
build/
tmp/
temp/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.env
.env.local
.env.*.local

*.swp
*.bak
*.tmp
*.orig